header {
    color: rgb(255, 255, 255);
    background-color: violet;
    text-align: center;
}
.top-text {
    color: cadetblue;
    background-color: chartreuse;
    text-align: center;
}

.recipes a {
    background-color: #f4511e;
    color: white;  
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    opacity: 1;
    transition: 0.25s;
    margin: 2px;
}

.recipes a:hover {
    opacity: 0.5;
}

.recipes {
    list-style-type: none;
    text-align: left;
}

.oni, .yun {
    background-color: blueviolet;
    text-align: center;
}